<div class="container w-50">
  <h1>HOME</h1>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem culpa voluptatum debitis eaque magni, atque veniam perferendis temporibus nemo fuga id assumenda eligendi quod officiis, neque quia natus eveniet, iure consequuntur cupiditate maxime itaque? Esse veniam neque unde dignissimos ipsum recusandae molestias perferendis! Delectus quod praesentium placeat laudantium aut dolore, magni dolores ad at? Magnam, id exercitationem? Quod aut odit fugit quo numquam </p>
  <button class="btn btn-lg btn-primary" (click)="goToAbout(29, 'Fabio')">Go to About</button>
</div>

